$color_1: #212121;
$color_2: #616161;
$color_3: #9e9e9e;
$color_4: #757575;
$color_5: inherit;
$font_family_1: Source Sans Pro, Verdana, Geneva;
$font_family_2: Oswald, Arial;

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	font-size: 7.5px;
	line-height: 1.25;
	color: $color_1;
}
body {
	margin: 0;
	padding: 0;
	width: 120rem;
	font-family: $font_family_1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 169.71429rem;
	.preview-box {
		margin-top: 6rem;
		margin-bottom: 6rem;
		height: 157.71429rem;
	}
}
.body--webpdf {
	.template__fixed-element {
		display: none;
	}
}
.body--pdf {
	.template__fixed-element {
		display: none;
	}
}
.body--share {
	height: 100%;
	overflow: hidden;
	.preview-box {
		margin-top: 6rem;
		margin-bottom: 6rem;
		height: calc(100% - $top-margin);
	}
}
.body--markup {
	background: #e4eaf0;
	margin: 0 auto;
	width: calc(120rem + 70px);
	padding: 35px;
	.preview-box {
		-webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
		box-shadow: 0px 0px 20px rgba(0,0,0,0.05);
		background: white;
		padding-top: 6rem;
		padding-bottom: 6rem;
	}
}
a {
	color: $color_2;
}
.container {
	position: relative;
	display: block;
	max-width: 120rem;
	font-size: 1.7rem;
	padding: 0rem 9rem;
}
.main-wrapper {
	position: relative;
	display: block;
	width: 100%;
	padding: 5rem 0rem 0rem 28rem;
}
.header {
	width: 100%;
	.avatar {
		display: block;
		width: 10rem;
		height: 10rem;
		border-radius: 50%;
		margin: 0 auto;
		margin-bottom: 3rem;
		background-size: cover;
		background-position: center center;
	}
	.name {
		display: block;
		font-family: $font_family_2;
		font-weight: 400;
		font-size: 4.2rem;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 2.8rem;
		>span {
			margin: 0 0.2rem;
		}
	}
	.info-block {
		display: block;
		text-align: center;
		div {
		    display: inline-block;
		    color: $color_3;
		}
		.current-position {
			font-size: 1.8rem;
			margin-right: 1.6rem;
			white-space: nowrap;
		}
		.city {
			font-size: 1.6rem;
			margin-right: 1.6rem;
			padding-left: 2.2rem;
			position: relative;
			text-transform: uppercase;
			white-space: nowrap;
		}
		.phone {
			font-size: 1.6rem;
			padding-left: 1.8rem;
			white-space: nowrap;
		}
	}
}
.main {
	width: 100%;
}
.aside {
	position: absolute;
	top: 5rem;
	left: 0rem;
	width: 25rem;
	.aside-group {
		margin-bottom: 4.8rem;
		padding: 0 0.6rem;
	}
	.title {
		text-align: center;
		font-family: $font_family_2;
		font-weight: 400;
		font-size: 1.8rem;
		text-transform: uppercase;
		margin-bottom: 1.6rem;
		>span {
			margin: 0 0.1rem;
		}
		&:before {
			content: '';
			display: inline-block;
			width: 0.6rem;
			height: 0.6rem;
			border: 0.15rem solid #212121;
			border-radius: 1rem;
			background: #fff;
			margin: 0 1.6rem;
			position: relative;
			bottom: 0.3rem;
		}
		&:after {
			content: '';
			display: inline-block;
			width: 0.6rem;
			height: 0.6rem;
			border: 0.15rem solid #212121;
			border-radius: 1rem;
			background: #fff;
			margin: 0 1.6rem;
			position: relative;
			bottom: 0.3rem;
		}
	}
	.section {
		margin-bottom: 2.3rem;
		.label {
			text-transform: uppercase;
			color: $color_3;
			text-align: center;
			font-size: 1.5rem;
			margin-bottom: 0.4rem;
		}
		.text {
			text-align: center;
			line-height: 1.5;
			font-size: 1.6rem;
		}
		.text.highlighted {
			text-decoration: underline;
		}
	}
	.social-profile {
		margin-bottom: 1.6rem;
	}
	.social-profile__link {
		display: block;
		color: $color_5;
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-all;
		word-break: break-word;
	}
	.progress {
		width: 80%;
		margin: 0 auto;
		height: 0.4rem;
		margin-bottom: 2.4rem;
		.progress-inner {
			width: 0%;
			height: 100%;
			background: #212121;
			display: inline-block;
		}
	}
}
.experience-group {
	margin-bottom: 4rem;
	.group-title {
		position: relative;
		font-family: $font_family_2;
		font-weight: 400;
		font-size: 1.9rem;
		padding-bottom: 1.8rem;
		padding-left: 4.4rem;
		text-transform: uppercase;
		page-break-inside: avoid;
		page-break-after: avoid;
		>span {
			margin-right: 0.2rem;
		}
	}
	.group-title-icon {
		position: absolute;
		top: 0rem;
		left: 0rem;
		width: 2.4rem;
		height: 2.4rem;
		background-size: contain;
		background-repeat: no-repeat;
	}
	.group-content {
		padding-left: 0;
		border-left: 0.2rem solid #212121;
		margin-left: 1.2rem;
		position: relative;
	}
	.experience-item {
		padding-left: 3rem;
		margin-bottom: 2.4rem;
		position: relative;
		clear: both;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0.6rem;
			left: -0.6rem;
			width: 0.8rem;
			height: 0.8rem;
			border: 0.15rem solid #212121;
			border-radius: 1rem;
			background: #fff;
		}
	}
	.item-title {
		font-size: 2.2rem;
		margin-bottom: 0.8rem;
	}
	.item-caption {
		font-size: 2rem;
		margin-bottom: 1.6rem;
		color: $color_4;
	}
	.item-description {
		line-height: 1.5;
		font-size: 1.7rem;
		color: $color_4;
		strong {
			font-weight: bold;
			margin-left: 0.1rem;
		}
		span {
			text-decoration: underline;
		}
		ul {
			margin: 0.8rem 0;
			list-style-position: outside;
			padding-left: 3.5rem;
		}
		ol {
			margin: 0.8rem 0;
			list-style-position: outside;
			padding-left: 3.5rem;
		}
	}
}
